body{
    background-image:url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 150px; */
    
    width: 73.95833333333333vw;
    margin: auto;
    margin-top: 7.291666666666667vw;
    
    /* border: 1px solid red; */
    
    
}



#heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2.0833333333333335vw;
    margin-top: 3.125vw;
    
   margin-left: 0vw;

    width:26.041666666666668vw;
    
}


#description{
    
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
    color: rgb(238, 237, 237);
    /* margin-right: 68px; */
    width: 28.645833333333332vw;
    font-size: 0.9895833333333334vw;
    margin-top: 1.3020833333333333vw;
    font-weight: 100;
}


#register{
    
    width: 10.416666666666666vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0416666666666667vw;
    text-align: center;
    padding-top: 0.5729166666666666vw;
    background-color: white;
    height: 2.34375vw;
    border-top-left-radius:100px;  
    border-top-right-radius:100px;  
    border-bottom-right-radius:100px;  
    border-bottom-left-radius:100px; 
    margin-top: 1.3541666666666667vw;
    color: hsl(257, 40%, 49%);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}





#img{
    height: 30.208333333333332vw;
}


#logo{
    position: relative;
    /* padding-top: 100px; */
    width: 13.748437500000001vw;
    top: 2.8645833333333335vw;
    left: 13.020833333333334vw;
}


.icons{
    color: white;
    font-size: 1.5625vw;
    float: right;
    margin-right: 5.208333333333333vw;
    
}



.icon{
    border: 0.10416666666666667vw solid white;
    padding: 0.5729166666666666vw;
    margin: 0.5208333333333334vw;
    border-radius: 50%;
}


.icon:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

#register:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
}


@media screen and (max-width: 375px){
    
body{
    background-image: url(./images/bg-mobile.svg);
    background-size: contain;
}

.container{
    flex-direction: column;
    width: 85.33333333333333vw;
    
}

#img{
    height: 61.333333333333336vw;
    
}


#heading{
    font-size: 6.133333333333334vw;   
    /* border: 1px solid red; */
    margin-left: 5.066666666666666vw;
    width: 74.66666666666667vw;
    text-align: center;
    margin-top: 18.666666666666668vw;
}

#description{
    font-size: 4.266666666666667vw;
    margin-left: 2.4vw;
    margin-top: 5.333333333333333vw;
    /* border: 1px solid red; */
    width: 80vw;
    text-align: center;
}

#register{
    width: 53.333333333333336vw;
    height: 10.666666666666666vw;
    font-size: 4.533333333333333vw;
    margin-left: 13.333333333333334vw;
    padding-top: 2.6666666666666665vw;
    margin-top: 8vw;
}

#logo{
    width: 32vw;
    left: 5.6vw;
}

.icons{
    /* border: 1px solid red; */
    width: 80vw;

    text-align: center;
    margin-right: 7.466666666666667vw;
    font-size: 4.8vw;
    margin-top: 21.333333333333332vw;
}

.icon{
    padding: 2.1333333333333333vw;
}

}